html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#crosshair {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  pointer-events: none;
  z-index: 100;
}

#tutorial {
  padding: 10px 50px;
  position: fixed;
  background-color: rgba(70, 131, 180, 0.9);
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  z-index: 9999;

  display: flex; /* enable flex layout */
  flex-direction: column;  /* stack text + button vertically */
  align-items: center;  /* center horizontally */
  gap: 10px;  /* optional space between text and button */
}

#startBtn {
  font-size: 20px;
  color: white;
  background-color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#projectPanel {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(70, 131, 180, 0.9);
  color: white;
  padding: 20px;
  z-index: 9999;
  text-align: center
}
#closeBtn{
  padding:10px 20px; 
  margin-top:10px; 
  cursor:pointer;
}